$void: #0e0b16;
$fuschia: #a239ca;
$jewel: #4717f6;
$stark: #e7dfdd;

$blue: #3D6DE6;
$sky: #84ceeb;
$lightBlue: #5ab9ea;
$lightPurple: #c1c8e4;
$purple: #8860d0;
$darkBackground: #101c2c;
$offWhite: #f6f9fc;
$navy: #192a42;
$textBlue: #4db1fd;
$salmon: #F37291;
$secondaryPurple: #96a2d0;
$bgLight: #f8f9fa;
$teal: #21837C;