.ui.blue.ribbon.label {
    background-color: #1A69A4 !important;
}

.ui.green.ribbon.label {
    background-color: darkgreen !important;
    border-color: rgb(1, 77, 1) !important;
}
.btn-outline-danger:hover {
background-color: darkred !important;
border-color: darkred !important;
color: white !important;
}

.btn-outline-danger {
    color: darkred !important;
    border-color: darkred !important;
}

.ui.red.floating.label {
    background-color: darkred !important;
}